<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Contact Us" | translate }}</ion-title>
  </ion-navbar>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date" | translate }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="viewTicket()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding-bottom>
  <ion-row style="margin-top: 33%">
    <ion-col col-4 tappable (click)="loadContent('OPEN')">
      <ion-row>
        <ion-col>
          <div
            style="width:75px; height: 75px; border-radius: 48%; background: rgb(238, 100, 69); text-align: center;margin: auto; padding: 25px; font-size: 1.5em; color: white;">
            <b>{{ openNum }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          {{ "OPEN" | translate }}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-4 tappable (click)="loadContent('CLOSE')">
      <ion-row>
        <ion-col>
          <div
            style="width:75px; height: 75px; border-radius: 48%; background: rgb(132, 231, 45); text-align: center;margin: auto; padding: 25px; font-size: 1.5em; color: white;">
            <b>{{ closeNum }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          {{ "CLOSE" | translate }}
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col col-4 tappable (click)="loadContent('PROGRESS')">
      <ion-row>
        <ion-col>
          <div
            style="width:75px; height: 75px; border-radius: 48%; background: rgb(233, 182, 16); text-align: center;margin: auto; padding: 25px; font-size: 1.5em; color: white;">
            <b>{{ inprogressNum }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;">
          {{ "IN PROGRESS" | translate }}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div *ngIf="tickets.length > 0">
    <ion-card *ngFor="let t of tickets">
      <ion-card-content style="background: transparent;">
        <ion-row>
          <ion-col col-12 style="padding-left: 0px">
            <ion-icon name="person"></ion-icon>&nbsp;
            {{ t.posted_by.first_name }}
            {{ t.posted_by.last_name }}&nbsp;&nbsp;<ion-icon name="call" color="gpsc"></ion-icon>
          </ion-col>

        </ion-row>
        <ion-row>

          <ion-col col-6 style="padding-left: 0px">
            <ion-icon name="calendar"></ion-icon>&nbsp;&nbsp;{{
              t.posted_on | date: "short"
            }}
          </ion-col>
          <ion-col col-6 style="text-align: right">
            <ion-badge [ngClass]="{
                myClass: t.support_status == 'IN PROGRESS',
                myClass2: t.support_status == 'OPEN',
                myClass3: t.support_status == 'CLOSE'
              }">{{ t.support_status }}</ion-badge>
          </ion-col>
        </ion-row>

        <p style="margin: 0px; padding: 0px; color: black">
          <b>{{ 'Query' | translate}}: </b>{{ t.message }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-fab bottom right *ngIf="!islogin.isSuperAdmin">
  <button ion-fab (click)="addTicket()" color="gpsc">
    <ion-icon name="add" *ngIf="footerState == 0"></ion-icon>
    <ion-icon name="close" *ngIf="footerState == 1"></ion-icon>
  </button>
</ion-fab>
<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <ion-content>
    <form class="form" [formGroup]="contactusForm">
      <p class="para" type="Name:">
        <input formControlName="name" type="text" placeholder="Write your name here.." />
      </p>
      <span class="span"
        *ngIf="!contactusForm.controls.name.valid && submitAttempt">{{ 'Name is required and should be in valid format!' | translate}}</span>
      <p class="para" type="Email:">
        <input formControlName="mail" type="email" placeholder="Let us know how to contact you back.." />
      </p>
      <span class="span"
        *ngIf="!contactusForm.controls.mail.valid && submitAttempt">{{ 'Email id is required and should be in valid format!' | translate }}</span>
      <p class="para" type="Mobile Num.:">
        <input formControlName="mobno" type="number" maxlength="10" minlength="10"
          placeholder="{{ 'Let us know how to contact you back via mobile number..' | translate}}" />
      </p>
      <p class="para" type="Message:">
        <textarea rows="2" cols="50" formControlName="note"
          placeholder="{{ 'What would you like to tell us..' | translate }}"></textarea>
      </p>
      <span class="span"
        *ngIf="!contactusForm.controls.note.valid && submitAttempt">{{ 'Please write your message!' | translate}}</span>
      <ion-row>
        <ion-col col-12><button (tap)="contactUs()" class="buttonclass">
            {{ 'Raise Ticket' | translate}}
          </button></ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-pullup>